*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
    background: url('./login-bg1.jpg') no-repeat;
    background-size: cover;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    width: 350px;
    height: 550px;
    box-shadow: 0 0 30px 20px rgba(0,0,0,0.26));
    perspective: 1000px;
}

.inner-box{
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 1s;
}

.card-front, .card-back{
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    background: url('login-bg2.jpg') no-repeat;
    background-size: cover;
    padding: 55px;
    box-sizing: border-box;
    backface-visibility: hidden;
}

.card-back{
    transform: rotateY(180deg);
}

.login-form{
    width: 280px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    color: #fff;
}

.login-form h1 {
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    margin: 25px 0;
}

.login-form p{
    font-size: 15px;
    margin: 15px 0;
}

.login-form input{
    font-size: 16px;
    width: 93%;    
    padding: 15px 10px;
    border: 0;
    outline: none;
    border-radius: 5px;
}

.eye{
    position: absolute;
    transform: translate(-100%,-180%);
}

#eye-open{
    display: none;
}

span{
    position: relative;
    right: 5px;
    cursor: pointer;
}

.fa{
    font-size: 100px;
    font-weight: bolder;
}

.login-form button{
    font-size: 18px;
    font-weight: bold;
    margin: 20px 70px;
    padding: 10px 15px;
    width: 55%;
    border-radius: 20px;
    border: 0;
    align-self: center;
    background-color: cyan;
}

.forgot-pswrd{
    text-align: right;
    font-size: 15px;
    margin-top: 10px;
    font-weight: lighter;
}

.card .btn{
    border-radius: 5px;
    margin-top: 30px;
    height: 50px;
    width: 100%;
    margin-left: 2px;
    background-color: white;
}

